<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
    <connectionStrings>
        <add name="myConnection" connectionString="Server=9321b027-147c-4961-87c2-a2080123eedd.sqlserver.sequelizer.com;Database=db9321b027147c496187c2a2080123eedd;User ID=hzrlntplufdiqqgd;Password=3BwkXYiBdMoiESg4iKn7KvZTHeK7FqnGyYWZGMxAVnwZEA4efmjbyqDEJKJSok5V;"/>
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint address="http://recorder.apphb.com/DataBaseAccessService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_DataBaseAccessService"
                contract="ServiceReference1.DataBaseAccessService" name="CustomBinding_DataBaseAccessService" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="RecordsCollectorApp.DataBaseAccessService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_DataBaseAccessService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="RecordsCollectorApp.DataBaseAccessService">
                <endpoint address="" binding="customBinding" bindingConfiguration="RecordsCollectorApp.DataBaseAccessService.customBinding0"
                    contract="RecordsCollectorApp.DataBaseAccessService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
